@model LuchoSoftV1.Models.ComprasInsumo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ComprasInsumo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadInsumoComprasInsumos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadInsumoComprasInsumos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioInsumoComprasInsumos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioInsumoComprasInsumos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCompraNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCompraNavigation.IdCompra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdInsumoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdInsumoNavigation.IdInsumo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdComprasInsumos">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
