@model IEnumerable<LuchoSoftV1.Models.CategoriaProducto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreCategoriaProductos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoCategoriaProductos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCategoriaProductos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoCategoriaProductos)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCategoriaProductos">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCategoriaProductos">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCategoriaProductos">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
